*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --colligth: white;
    --coldark: rgb(66, 58, 58);
    --colmid: #44d3e6;
}
html{
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
}


/* NAWIGACJA*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    min-height: 8rem;
    padding-bottom: 2rem;
}
nav div{
    padding-left: 10rem;
    font-size: 2.4rem;
    color: var(--coldark);
    letter-spacing: 0.2rem;
}
nav>div>b{
    padding-left:0.5rem;
}

li{
    display: inline-block;
    list-style: none;
    padding:0 2rem 0 2rem;
}
nav a{
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--coldark);
    letter-spacing: 0.2rem;
}
/* HEADER */

header{
    position:relative;
    height:90vh;
    background-image: url(img/chair-1840526_1920.jpg);
    background-size: cover;
    background-attachment: fixed;
    }
header>div{
    position: absolute;
    top: 20%;
    left:50%;
    transform: translateX(-50%)
}

h1{
    font-size: 10rem;
    color: var(--colmid);
}
h2{
    text-align: center;
    font-size: 3.6rem;
    color: var(--colligth);
}


/* SEKCJA PIERWSZA */